PORT=4000
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5433/email_scheduler?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379
ELASTICSEARCH_NODE="http://localhost:9200"

WORKER_CONCURRENCY=5
DEFAULT_MIN_DELAY_MS=2000
DEFAULT_HOURLY_LIMIT=200

GOOGLE_CLIENT_ID="your_google_client_id"

SLACK_CLIENT_ID="your_slack_client_id"
SLACK_CLIENT_SECRET="your_slack_client_secret"
SLACK_REDIRECT_URI="http://localhost:3000/slack/callback"
